body {
  margin: 0;
  font-family: system-ui;
  background: url("bgimg.png") no-repeat center center fixed;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #ff6f61;
  color: white;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 12px;
}
#map { height: 100vh; }





